body {
  background-color: Canvas;
  color: canvasText;
  color-scheme: light dark;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
}
